<h1>To-Do List</h1>
<form id= "item-form">
  <input type="text" name="" placeholder="add a new to-do item" id="item-text">
  <input type="submit" value="add item" id="item-submit">
</form>
<div id="container">
</div>
